:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.4em;
  line-height: 1.1;
  color: #ffffff;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: #ffffff 1px solid;
}

th {
  padding: 0.5em;
  text-align: left;
  font-weight: 500;
  color: #ffffff;
}
th:first-child {
  width: 1%;
  white-space: nowrap;
}
th:last-child {
  width: 1%;
  white-space: nowrap;
}

tr {
  border-bottom: #ffffff 1px solid;
}

td {
  padding: 0.5em;
  text-align: left;
  font-weight: 400;
  color: #ffffff;
}

.back{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1em;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #000000;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  transition: background-color 0.25s;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1 auto;
  padding: 1em;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #000000;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.nav:hover {
  background-color: #eaeaea;
}

.nav-link {
  display: flex;
  display: inline;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1em;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #000000;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  transition: background-color 0.25s;
  cursor: pointer;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em auto;
  padding: 0.5em;
  border-color: #1a1a1a;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #000000;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wish-list {
  border: #535bf2 1px solid;
  border-radius: 8px;
  padding: 1em;
  margin: 1em;
  background-color: #f9f9f9;
  color: #000000;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  transition: background-color 0.25s;
  cursor: pointer;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1em;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #000000;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
